/* CSS de index.html */

header {
	display: flex;
}

body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 500%;
}

#img_logo img{
	width: 200%;
	height: 75%;
	margin-left: 100%;
	margin-top: 75%;
}

#img_logo a {
	display: block;
}

#titulo {
	margin-left: 32%;
	margin-top: 7%;
	font-size: 500%;
	color: white;
}

#img_registrer img{
	width: 16%;
	height: 20%;
	margin-left: 150%;
}

#img_registrer a {
	display: block;
}

nav {
	display:flex;
	z-index: 2;
	position: absolute;
	width: 100%;


}

#menu ul {
	display:flex;   /* Opcions en horitzontal */
	list-style: none;   /* Sense vinyeta */
	font-family: calibri;
	padding-top: 1%;
	margin-left: 10%;
	width:100%;
}

#menu a {
	display: block;
	width: 100%;
	padding: 10px 20px;
	text-decoration: none;
	color: #333;
	background-color: #ffe14d;
	border-right: 1px solid #ccc;
	text-align: center;
}

#menu a:hover {
	background-color: #cfb63e;
	color:#000;
}	

#menu ul li ul {
	display: none;
	opacity: 0.9;
	margin-left:-41px;
	margin-top:-4px;
	width:442%;
}

#menu ul li a:hover + ul, #menu ul li ul:hover {
	display: block;
}

nav ul li {
	width:20%;
}

main {
	display: flex;
	z-index: 1;
}

#carrusel {
	padding-top: 6%;
	padding-left: 25%;
	width: 45%;
	
}

#estreno {
	font-size:300%;
	color: white;
	font-weight: bold;
}

article {
	display:flex;
}

#peliimagen {
	padding-top: 20%;
	transform:scale(1,1);
	transition:1s;
}

#peliimagen:hover {
	transform:scale(1.25,1.25) skew(0deg,0deg);
}

section {
padding: 2%;
text-align: center;
}

h2 {
	color: white;
	font-weight: bold;
}

#disclamier {
	color:white;
}

/* CSS de login.html */

#link {
	list-style: none;
	margin-top: 20%;
	margin-left: 15%;
}

#fb_link {
	background-color: blue;
	width: 250%;
}

#fb_link a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	text-align: justify;
	font-weight: bold;
	margin-left: 25px;
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 5%;
}

#tw_link {
	background-color: #109DFA;
	width: 250%;
}

#tw_link a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	text-align: justify;
	font-weight: bold;
	margin-left: 25px;
	background-image: url(../images/twitter.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 5%;
}

#google_link {
	background-color: #ECECEC;
	width: 250%;
}

#google_link a {
	text-decoration: none;
	color: #BBA9BB;
	display: block;
	padding: 10px;
	text-align: justify;
	font-weight: bold;
	margin-left: 25px;
	background-image: url(../images/google.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 5%;
}

#linklogin {
	list-style: none;
	margin-top: 15%;
	margin-left: 25%;
}

#iniciasesiotitol {
	color: white;
	font-size: 250%;
}

input {
	width: 150%;
	font-size: 150%;
}

.registrat {
	width: 50%;
}

#notenssesio {
	color: white;
	font-size: 100%;
}

#creacompta {
	font-size: 150%;
	background-color: grey;
	text-align: center;
	padding: 2%;
	text-decoration: none;
	color: black;
}

#creacompta:hover {
	background-color: white;
}

/* CSS de crear.html */

#crearsesiotitol {
	color: white;
	font-size: 250%;
	margin-top: 2%;
}

#lacreaciodecomptes {
	margin-top: 8%;
	margin-left: 38%;
	list-style: none;
}

#requisitos {
	color: white;
	font-size: 150%;
}

/* CSS de joker.html, hillbilly.html, silencing.html, mama.html, domino.html */

#edadpiedra {
	margin-top: 8%;
	margin-left: 15%;
	margin-right: 15%;
	border: solid red;
	background-color: black;
}

#sectioninformacio {
	display:block;
	width: 25%;
}

#informacio {
	color: white;
	font-size: 150%;
	text-align: justify;
}

/* CSS de reserva.html i cadira.html */

#titol_reserva {
	color: white;
	font-size: 500%;
	margin-left: 30%;
}

#peliimagen2 {
	transform:scale(1,1) rotateX(0deg);
	transition:1s;
}

#peliimagen2:hover {
	transform:scale(1.25,1.25) rotateX(730deg);
}

#edadpapa {
	margin-top: 8%;
	margin-left: 25%;
	margin-right: 26%;
	border: solid red;
	background-color: grey;
}

#edadpapapreu {
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 20%;
	border: solid red;
	background-color: grey;
}

#sectionpreu {
	display:block;
	width: 30%;
}

#preu {
	color: white;
	font-size: 150%;
	text-align: justify;
	font-weight: bold;
}

#sectionpreu2 {
	display:block;
	width: 100%;
	margin-left: 125%;
}

#reserva_preu {
	padding: 3%;
	color: white;
	font-size: 200%;
	background-color: red;
	font-weight: bold;
	text-decoration: none;
}

#reserva_preu:hover {
	border-right: 5px solid yellow;
	border-bottom: 5px solid yellow;
}

.gris {
	width: 65%;
}

/* Per retornar a la pagina principal */

#retornafooter {
	display: flex;
}

#retorna {
	color:white;
	margin-top: 8%;
	margin-left: 3%;
	background-color: blue;
	display: block;
	padding: 1%;
	text-decoration: none;
}